<div class="sidebar-title for-tablet">Sidebar</div>
<aside>
  <h1 class="aside-title">Popular <a href="/article/all-posts" class="all">See All <i class="ion-ios-arrow-right"></i></a></h1>
  <div class="aside-body">
    {{#each trendingArticles}}
    <article class="article-mini">
      <div class="inner">
        <figure>
          <a href="/article/post/{{_id}}">
            <img src="{{postImg}}" alt="{{title}}">
          </a>
        </figure>
        <div class="padding">
          <h1><a href="/article/post/{{_id}}">{{title}}</a></h1>
        </div>
      </div>
    </article>
    {{/each}}
  </div>
</aside>