

<div class="row">
  {{#each article}}
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">
      <article class="article col-md-12">
        <div class="inner">
          <figure>
            <a href="/article/post/{{_id}}">
              <img src="{{postImg}}" alt="{{alt}}">
            </a>
          </figure>
          <div class="padding">
            <div class="detail">
              <div class="time">{{date}}</div>
              <div>TEST AREA</div>
              {{#each category}}
                {{category.name}}
              {{/each}}
              <div class="category"><a href="category.html">{{category.name}}</a></div>
              <div class="category"><a href="category.html">{{category}}</a></div>
              <div class="category"><a href="category.html">{{this.category.name}}</a></div>
            </div>
            <h2><a href="/article/post/{{_id}}">{{title}}</a></h2>
            <p>{{textSnippet}}</p>
            <footer>
              <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
              <a class="btn btn-primary more" href="/article/post/{{_id}}">
                <div>More</div>
                <div><i class="ion-ios-arrow-thin-right"></i></div>
              </a>
              {{#if isLoggedIn}}
              <a class="btn btn-primary more" href="/article/post/{{_id}}">
                <div>Edit</div>
                <div><i class="ion-ios-arrow-thin-right"></i></div>
              </a>
              {{/if}}
         
            </footer>
          </div>
        </div>
      </article>
    </div>
  </div>
  {{/each}}
</div>
