<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div id="featured">
          <div class="item">
            <article class="featured">
              <div class="overlay"></div>
              <figure>
                <img src="{{latestArticle.postImg}}" alt="{{latestArticle.title}}">
              </figure>
              <div class="details">
                <div class="category"><a href="/category/view/{{latestArticle.postCategory._id}}">{{latestArticle.postCategory.postCategory}}</a></div>
                <h1><a href="/article/post/{{latestArticle._id}}">{{latestArticle.title}}</a></h1>
                <div class="time">{{latestArticle.date}}</div>
              </div>
            </article>
          </div>
        </div>
        <div class="line">
          <div>Latest News</div>
        </div>
        {{> latest}}
			</div>
			<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
				{{> asideTrending}}
			</div>
		</div>
	</div>
</section>
