<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div id="featured">
          <div class="item">
            <article class="featured">
              <div class="overlay"></div>
              <figure>
                <img src="{{postImg}}" alt="{{latestArticle.title}}">
              </figure>
              <div class="details">
                <div class="category"><a href="/category/view/{{latestArticle.postCategory._id}}">{{latestArticle.postCategory.postCategory}}</a></div>
                <h1><a href="/article/post/{{latestArticle._id}}">{{latestArticle.title}}</a></h1>
                <div class="time">{{latestArticle.date}}</div>
              </div>
            </article>
          </div>
        </div>
        <div class="line">
          <div>Latest News</div>
        </div>
        {{> latest}}
						
				<div class="line top">
					<div>Just Another News</div>
				</div>
				<div class="row">
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="single.html">
									<img src="" alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Film</a>
									</div>
									<div class="time">December 19, 2016</div>
								</div>
								<h1><a href="single.html">Donec consequat arcu at ultrices sodales quam erat aliquet diam</a></h1>
								<p>
								Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet interdum libero nunc accumsan nisi.
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>273</div></a>
									<a class="btn btn-primary more" href="single.html">
										<div>More</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
				{{> asideTrending}}
			</div>
		</div>
	</div>
</section>
