<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<section class="py-5">
  <div class="container">
    <h1 style="margin: 2%; text-align: center;">Edit Post</h1>
    <form method="POST" action="/article/edit-post/{{id}}">
      <div class="form-group">
        <label for="Category" class="post-menu-headers">Select Post Tags</label>
        <div>
          {{#if categories}}
          {{#each categories}}
          <span class="post-checks-container">
            <input type="checkbox" name="tagsCategory" value="{{_id}}" checked="true" />{{name}}
          </span>
          {{/each}}
          {{else}}
          <div>-- No Categories --</div>
          {{/if}}
          {{#if allCategories}}
          {{#each allCategories}}
          <span class="post-checks-container">
            <input type="checkbox" name="tagsCategory" value="{{_id}}" />{{name}}
          </span>
          {{/each}}
          {{else}}
          <div>-- No Unassigned Tags --</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label for="Category" class="post-menu-headers">Selected Post Category</label>
        <div>
          {{#if category}}
          <span class="post-checks-container">
            <input onclick="selectOne(this)" type="checkbox" name="postCategory" value="{{category}}" checked="true" />
            {{category}}
          </span>
          {{/if}}
          {{#each postCategories}}
          <span class="post-checks-container">
            <input onclick="selectOne(this)" type="checkbox" name="postCategory" value="{{postCategory}}" />
            {{postCategory}}
          </span>
          {{/each}}
        </div>
      </div>
      <div class="form-group">
        <label for="Title" class="post-menu-headers">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="title" value="{{title}}">
      </div>
      <div class="form-group">
        <label for="Header Image" class="post-menu-headers">Header Image</label>
        <input type="text" name="postImg" class="form-control" placeholder="image link" value="{{img}}">
      </div>
      <div class="form-group">
        <textarea name="post">{{post}}</textarea>
      </div>
      <div class="form-group">
        <label for="Robots" class="post-menu-headers">Post Meta Description</label>
        <input type="text" name="postMetaDescription" class="form-control" id="robots" placeholder="Meta Description" value="{{meta}}">
      </div>
      <div class="form-group">
        <label for="excerpt" class="post-menu-headers">Excerpt</label>
        <input type="text" name="excerpt" class="form-control" placeholder="up to 250 symbols" maxlength="250" value="{{excerpt}}">
      </div>
      <div>
        <button class="btn btn-primary">Post</button>
      </div>
      <script>
        CKEDITOR.replace( 'post' );
      </script>
    </form>
  </div>
</section>
<script>
  function selectOne(checkbox) {
    const allCheckBoxes = document.getElementsByName('postCategory')

    allCheckBoxes.forEach((e) => {
      if (e !== checkbox) {
        return e.checked = false
      }
    })
  }
</script>
